<% include partials/header %>

<h1><%=store.name%></h1>
<img src="<%=store.image%>" alt="" style="width: 300px">
<p><strong><%= store.author.username %></strong></p>
<p><%=store.description%></p>


<form action="/stores/<%=store._id%>/comments" method="POST">
    <input type="text" placeholder="Write comment here" name="comment[text]">
    <button type="summit">Summit</button>
</form>

<% if(currentUser && store.author.id.equals(currentUser._id)){ %>
    <a href="/stores/<%=store._id%>/edit">EDIT</a>
    <form action="/stores/<%=store._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
<% } else { %>

<% } %>


<% store.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
    <a href="/stores/<%=store._id%>/comments/<%=comment._id%>/edit">edit comment</a>
<% } %>
<% }) %>

<% include partials/footer %>
